<h1 mat-dialog-title>Add trigger</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Currency" aria-label="Currency" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredCurrencies | async" [value]="state.name">
        <span>{{ state.name }}</span>,
        <span>{{ state.priceUsd }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="When">
      <mat-option value="MoreThan">
        More than
      </mat-option>
      <mat-option value="LessThan">
        Less than
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <span matPrefix>$ &nbsp;</span>
    <input matInput placeholder="Price">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="addClick()" tabindex="2">Add</button>
  <button mat-button (click)="cancelClick()" tabindex="-1">Cancel</button>
</div>
